{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dolores - Smart Decision for Smart Home</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'dolores/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'dolores/css/style.css' %}" rel="stylesheet">
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Dolores</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="{% url 'cabinet' %}">Cabinet</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="{% url 'media_agent' %}">Media Agent</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>



    {% block content %}
    {% endblock %}

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'dolores/js/jquery.min.js' %}"></script>
    <script src="{% static 'dolores/js/popper.min.js' %}"></script>
    <script src="{% static 'dolores/js/bootstrap.min.js' %}"></script>

  </body>

</html>