{% extends 'dolores/base.html' %}
{% load staticfiles %}
{% block content %}

<script src="{% static 'dolores/js/mserver.js' %}">
</script>
 <!-- Page Content -->
    <div class="container">

      <div class="row">
        {% if locations %}
        <div class="col-lg-3">
          <h1 class="my-4">Select location</h1>
          <div class="list-group">
              {% for location in locations %}
                  <a class="dropdown-item" href="#" onclick="update_location(this);" onmouseenter="">{{ location.name }}</a>
              {% endfor %}
          </div>
            {% endif %}
        </div>

        <div class="col-lg-9">

          <div class="card mt-4">
              {% if locations %}
              <input type="hidden" value="{{ location.name }}" id="locationName" />
              {% endif %}

            <video id="remoteVideo" autoplay muted controls poster="http://placehold.it/900x400"></video>
            <div class="card-body">
              <h3 class="card-title">RT Monitoring</h3>
                 <p class="card-text">To start monitoring you need to enable remote camera</p>
                <button type="button" class="btn btn-primary" onclick="start();">
                  Start monitoring</button>
                <button type="button" class="btn btn-default" onclick="record_remote();">Record</button>
                <button type="button" class="btn btn-default" onclick="stop_record();">Stop</button>
                <button type="button" class="btn btn-default" onclick="download_recorded();">
                  <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                  Download
                </button>
            </div>
          </div>

        </div>
        <!-- /.col-lg-9 -->

      </div>

    </div>
    <!-- /.container -->


    <!-- /.container -->
<script type="text/javascript">
            pageReady(true);
 </script>

{% endblock content %}
