{% extends 'dolores/base.html' %}
{% load staticfiles %}
{% block content %}
<header class="masthead">
      <div class="overlay">
        <div class="container">
          <h1 class="display-1 text-white">Dolores is simple SmartHome decision</h1>
          <h2 class="display-4 text-white">Make your home safe and smart with us</h2>
        </div>
      </div>
    </header>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 order-2">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="{% static 'dolores/img/camera.jpg' %}" alt="">
            </div>
          </div>
          <div class="col-md-6 order-1">
            <div class="p-5">
              <h2 class="display-4">Video monitoring</h2>
              <p>Easy integration with IP Cameras and other video devices</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="{% static 'dolores/img/laptop.jpg' %}" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="p-5">
              <h2 class="display-4">Monitor your home remotly</h2>
              <p>Connect to your home remotly using website in free time</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Dolores software 2017</p>
      </div>
      <!-- /.container -->
    </footer>
{% endblock content %}