{% extends 'dolores/base.html' %}
{% load staticfiles %}
{% block content %}
<script src="{% static 'dolores/js/mserver.js' %}">

</script>
 <!-- Page Content -->
    <div class="container">

      <!-- Heading Row -->
      <div class="row my-4">
        <div class="col-lg-8">
          <video class="img-fluid rounded" autoplay alt="" id="localVideo" name="localVideo" muted />
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
          <h1>Media Agent</h1>
          <p>This application provides simple way for capturing video and audio</p>

          <label for="locationName">Location name:</label>
          <input class="form-control input-sm" id="locationName" type="text">
          <br />
          <div class="checkbox">
            <label><input type="checkbox" value="" id="cbRecord"> Record localy</label>
          </div>
          <a class="btn btn-primary" onclick="start();" href="#">Start capturing!</a>
          <a class="btn btn-danger" href="#" onclick="stop_media();">Stop</a>
          <a class="btn btn-success" href="#" onclick="play_recorded();">Play recorded</a>
          <a class="btn btn-default" href="#" onclick="download_recorded();">Download</a>
          <a class="btn btn-primary" href="#" onclick="compareImages();">Capture</a>
        </div>
        <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->

      <!-- Call to Action Well -->
      <div class="card text-white bg-secondary my-4 text-center">
        <div class="card-body">
          <p class="text-white m-0">You should leave this page opened for monitoring!</p>
        </div>
      </div>
      <script type="text/javascript">
            pageReady(false);
        </script>

{% endblock content %}
