{% extends 'dolores/base.html' %}
{% load staticfiles %}
{% block content %}
 <div class="container">
      <h1 class="mt-5">You don't have any device to monitor</h1>
      <p>To start monitoring you need to start video and audio capturing with Media Client</p>
 </div>

{% endblock content %}
