{% extends 'dolores/base.html' %}
{% load staticfiles %}
{% block content %}
 <div class="container">
      <h1 class="mt-5">Unfortunatly you don't have free channels</h1>
      <p>You need to release one of free shannels or by very cheep license for more channels</p>
 </div>

{% endblock content %}
